body{

background-color: red;
background-image: url(giphy.gif);
background-repeat:

}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  
}
p{
  font-size: 50px;
  text-align: center;
  color: yellow;
  text-align: justify;

}
